@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}



.media-info-msg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: gray;
}

@media screen and (min-width:600px) {
    .media-info-msg{
        opacity: 1;
    }
}