@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

:root{
    --btn-primary : rgb(251, 111, 15);
    --btn-primary-hover : rgba(251, 111, 15, 0.8);
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}



.media-info-msg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

@media screen and (max-width:1000px) {
    .media-info-msg{
        display: none;
    }
}